<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/landing.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/employee-signup.css">
    <script src="../javascript/employee-signup.js"></script>
</head>
<body>
    <header class="container-header">
        <img class="item-1hm-header" src="../Assets/images/image-menu-10.png" alt="image-manu-10"width="25" height="25">
        
        <div class="item-2tc-header">
            <a href="#" class="item-2tc-text-header">Tutorials|Contact</a>
        </div>
        <div class="item-3input-header">
            <input class="item-4input-header" type="text" placeholder="Search">
            <img class="item-6loupe-header" src="../Assets/images/image 11.jpg" alt="image 11">
        </div>
        <div class="item-7button-header">
            <button class="item-8button-header">
                <a href="login.html">LogIn</a>
            </button>
            <button class="item-10button-header">
                <a href="index.html">Home</a>
            </button>
        </div>
    </header>
    <main>
        <section class="logo-container">
            <img class="logo-logo" src="../Assets/images/image-logo-9.jpg" alt="image-logo-9"width="80" height="80">
            <div class="logo-titles">
                <h1>TRACKGENIX</h1>
                <h2>DATA MANAGEMENT</h2>
            </div>
        </section> 
        <div class="Title-signup">
            <h1>
                SignUp
            </h1>
        </div>
        <form class="employee-signup-container" action="employee-signup">
            <div class="employee-signup-part1">
                <div class="employee-signup-input-container">
                    <label class="input1" for="name">Name:</label>
                    <input class="input2" type="text" id="userName" name="name" 
                    placeholder="Enter your name here">
                    <span class="Error" id="nameError">This name is not valid</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="surname">Surname:</label>
                    <input class="input2" type="text" id="surname" name="surname" 
                    placeholder="Enter your surname here">
                    <span class="Error" id="surnameError">This surname is not valid</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="document">Document:</label>
                    <input class="input2" type="text" id="document" name="document" 
                    placeholder="Enter your document number here">
                    <span class="Error" id="documentError">This document number is not valid</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="birth">Date of birth:</label>
                    <input class="input2" type="text" id="birth" name="birth" 
                    placeholder="dd/mm/yyyy">
                    <span class="Error" id="birthError">This date is not valid</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="phone">Phone number:</label>
                    <input class="input2" type="text" id="phone" name="phone" 
                    placeholder="Enter your phone number here">
                    <span class="Error" id="phoneError">This is a not valid phone number</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="adress">Adress:</label>
                    <input class="input2" type="text" id="adress" name="adress" 
                    placeholder="Enter your adress here">
                    <span class="Error" id="adressError">The adress is not valid</span>
                </div>
            </div>
            <div class="employee-signup-part2">
                <div class="employee-signup-input-container">
                    <label class="input1" for="city">City:</label>
                    <input class="input2" type="text" id="city" name="city" 
                    placeholder="Enter your current city here">
                    <span class="Error" id="cityError">The city is not valid</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="postalcode">Postal code:</label>
                    <input class="input2" type="text" id="postalcode" name="postalcode" 
                    placeholder="12345">
                    <span class="Error" id="postalcodeError">The postal code is not valid</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="password">E-mail:</label>
                    <input class="input2" type="text" id="email" name="email" 
                    placeholder="Enter your E-mail">
                    <span class="Error" id="emailError">The E-mail is not valid</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="password">Password:</label>
                    <input class="input2" type="text" id="password" name="password" 
                    placeholder="Create password">
                    <span class="Error" id="passwordError">The password is not valid</span>
                </div>
                <div class="employee-signup-input-container">
                    <label class="input1" for="repeat">Repeat password:</label>
                    <input class="input2" type="text" id="prepeat" name="repeat" 
                    placeholder="Repeat password">
                    <span class="Error" id="repeatError">The passwords are not the same</span>
                </div>
                <div class="employee-signup-button">
                    <button class="e-signup-button">SignUp</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
            <div class="footer-images-container">
                <a href="https://uy.linkedin.com/">
                    <img src="../Assets/images/image 12.png" alt="image 12"width="40" height="40">
                </a>
                <a href="https://twitter.com/">
                    <img src="../Assets/images/image 13.png" alt="image 13"width="40" height="40">
                </a>
                <a href="https://www.facebook.com/">
                    <img src="../Assets/images/image 14.png" alt="image 14"width="40" height="40">
                </a>
                <a href="https://github.com/">
                    <img src="../Assets/images/image 15.png" alt="image 15"width="30" height="30">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="../Assets/images/image 16.png" alt="image 16"width="30" height="30">
                </a>
            </div>
            <div class="footer-paragraph-container">
                <p>Montevideo, Uruguay</p>
                <p>Copyright 2022. All rights reserved.</p>
            </div>
    </footer>
</body>
</html>        