<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/landing.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
    <header class="container-header">
        <img class="item-1hm-header" src="../Assets/images/image-menu-10.png" alt="image-manu-10"width="25" height="25">
        
        <div class="item-2tc-header">
            <a href="#" class="item-2tc-text-header">Tutorials|Contact</a>
        </div>
        <div class="item-3input-header">
            <input class="item-4input-header" type="text" placeholder="Search">
            <img class="item-6loupe-header" src="../Assets/images/image 11.jpg" alt="image 11">
        </div>
        <div class="item-7button-header">
                <button class="item-8button-header">
                    <a href="login.html">LogIn</a>
                </button">
                <button class="item-9button-header">
                    <a href="employee-signup.html">SignUp</a>
                </button>
        </div>
    </header>
    <main>
        <div class="general-container">
            <div class="hugh-div-1">
            <aside class="sidebar">
                <div>
                    <h3 class="sidebar-menu">Menu</h3>
                    <ul>
                        <li class="sidebar-menu-item">History</li>
                        <li class="sidebar-menu-item">About Us</li>
                        <li class="sidebar-menu-item">Contact Form</li>
                        <li class="sidebar-menu-item">Sources</li>
                    </ul>
                </div>
                <div>
                    <h3 class="sidebar-menu2">Contact Us</h3>
                    <p class="sidebar-contact-info">
                    Contact information. Useful contact information.
                    Data about contact information.
                    Any message about the contact information.
                    </p>
                    <div class="sidebar-contact-info1">
                        <img class="sidebar-img-ci-1" src="../Assets/images/image 17.png" alt="image 17"width="20" height="20">
                        <p class="sidebar-p-ci-1">trackgenix@info.com</p>
                    </div>
                    <div class="sidebar-contact-info2">
                        <img class="sidebar-img-ci-2" src="../Assets/images/image 18.png" alt="image 18"width="20" height="20">
                        <p class="sidebar-p-ci-2">1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                    </div>
                    <button class="sidebar-get-info-button">Get System Information</button>
                </div>
            </aside>
            </div>
            <div class="hugh-div-2">
                <div class="logo-big-container">
                    <section class="logo-container">
                        <img class="logo-logo" src="../Assets/images/image-logo-9.jpg" alt="image-logo-9"width="80" height="80">
                        <div class="logo-titles">
                            <h1>TRACKGENIX</h1>
                            <h2>DATA MANAGEMENT</h2>
                        </div>
                    </section> 
                    <section>
                        <div class="image-presentation">  
                            <img class="image-1-presentation" src="../Assets/images/image 1.png" alt="image 1">
                            <p class="paragraph-1-presentation">
                            Presentation of the company:
                            A nice message about us that you find very attractive, friendly,
                            that gives you confidence to stay on the site. 
                            Presentation of the company:
                            A nice message about us that you find very attractive, friendly, 
                            that gives you confidence to stay on the site. 
                            </p>
                        </div>
                    </section>
                    <section class="the-big-section-in-the-middle">
                        <section class="article-five-container">
                            <div class="article-five">
                                <article class="article-five-in">
                                    <img class="imgx5" src="../Assets/images/image 2.png" alt="image 2">
                                    <p class="article-five-paragraph">Simplicity</p>
                                </article>
                                <article class="article-five-in">
                                    <img class="imgx5" src="../Assets/images/image 3.png" alt="image 3">
                                    <p class="article-five-paragraph">Efficiency</p>
                                </article>
                                <article class="article-five-in">
                                    <img class="imgx5" src="../Assets/images/image 4.png" alt="image 4">
                                    <p class="article-five-paragraph">Tracking</p>
                                </article>
                                <article class="article-five-in">
                                    <img class="imgx5" src="../Assets/images/image 5.png" alt="image 5">
                                    <p class="article-five-paragraph">Confidence</p>
                                </article>
                                <article class="article-five-in">
                                    <img class="imgx5" src="../Assets/images/image 6.png" alt="image 6">
                                    <p class="article-five-paragraph">Management</p>
                                </article>
                            </div>
                        </section>
                        <section class="section-what-why">
                            <div class="section-what">
                                <h3 class="section-title">What can Trackgenix do for you?</h3>
                                <ul class="section-list">
                                    <li>-Time registration</li>
                                    <li>-Reports</li>
                                    <li>-Resources Management</li>
                                    <li>-Assing multiple roles</li>
                                </ul>
                            </div>
                            <div class="section-why">
                                <h3 class="section-title">Why choose Trackgenix is a quality leap? </h3>
                                <ul class="section-list">
                                    <li>-Increase productivity</li>
                                    <li>-Optimize leadership and management</li>
                                    <li>-Facilitate work traceability</li>
                                    <li>-Improve decision making</li>
                                </ul>
                            </div> 
                        </section>
                    </section>
                    <!--the big section in the middle- CLOSE HERE-->
                    <section class="about-us-container">
                        <div class="about-us-titles">
                            <h3 class="about-us-title-1">About Us</h3>
                            <h4 class="about-us-title-2">Confidentiality Agreements</h4>
                        </div>           
                        <div class="about-us-box-1">
                            <img class="about-us-img-1" src="../Assets/images/image 7.jpeg" alt="image 7">
                            <p class="about-us-paragraph-1">
                                A nice message about us that you find very attractive, friendly, 
                                that gives you confidence to stay on the site.
                                Some text regarding confidentiality
                                agreements and such things, nice, all nice.
                            </p>
                        </div>
                        <div class="about-us-box-2">
                            <p class="about-us-paragraph-2">
                                Some text regarding confidentiality
                                agreements and stuff, nice, all nice.
                                A nice message about us that you find very attractive, friendly,
                                that gives you confidence to stay on the site. 
                                Presentation of the company:
                            </p> 
                            <img class="about-us-img-2" src="../Assets/images/image 8.jpg" alt="image 8">
                        </div>
                    </section>
                    <section class="form-container">
                        <div class="form3">
                            <h4>Get system Information</h4>
                        </div>
                        <form class="form-class-4">
                            <div class="form1">
                                    <div class="input1">
                                        <label class="label1" for="name">Name:</label>
                                        <input class="input2" type="text" id="name" name="name" placeholder="Name">
                                    </div>  
                                    <div class="input1">
                                        <label class="label1" for="email">E-mail:</label>
                                        <input class="input2" type="text" id="email" name="email" placeholder="E-mail">
                                    </div>
                                    <div class="input1">
                                        <label class="label1" class="label1" for="contactarea">Select contact area:</label>
                                        <select class="input2" id="contactarea" name="contactarea">
                                        <option value="option1">Option 1</option>
                                        <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="form2">
                                <div class="message">
                                    <textarea class="input2" name="message" id="message" cols="30" rows="10" 
                                    placeholder="Write your message"></textarea>
                                </div>
                                <div>
                                    <button class="button-send">Send</button>
                                </div>
                            </div>    
                        </form>   
                    </section>
                </div>
            </div>
        </div>
        <!--g r e e n - a r e a-->
        <div class="green-area-big-container">
            <section class="green-area-container">
                <div class="green-area-item-products">
                    <h4 class="green-area-h4">Products</h4>
                        <ul class="green-area-list">
                            <li>Functionalities</li>
                            <li>Download</li>
                            <li>Integration</li>
                            <li>Extras</li>
                        </ul>
                </div>
                <div class="green-area-item-company">
                <h4 class="green-area-h4">Company</h4>
                    <ul class="green-area-list">
                        <li>Information</li>
                        <li>Clients</li>
                        <li>Resources</li>
                        <li>Blog</li>
                    </ul>
                </div>
                <div class="green-area-item-support">
                <h4 class="green-area-h4">Support</h4>
                    <ul class="green-area-list">
                        <li>Help</li>
                        <li>Tutorials</li>
                        <li>API</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <footer>
            <div class="footer-images-container">
                <a href="https://uy.linkedin.com/">
                    <img src="../Assets/images/image 12.png" alt="image 12"width="40" height="40">
                </a>
                <a href="https://twitter.com/">
                    <img src="../Assets/images/image 13.png" alt="image 13"width="40" height="40">
                </a>
                <a href="https://www.facebook.com/">
                    <img src="../Assets/images/image 14.png" alt="image 14"width="40" height="40">
                </a>
                <a href="https://github.com/">
                    <img src="../Assets/images/image 15.png" alt="image 15"width="30" height="30">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="../Assets/images/image 16.png" alt="image 16"width="30" height="30">
                </a>
            </div>
            <div class="footer-paragraph-container">
                <p>Montevideo, Uruguay</p>
                <p>Copyright 2022. All rights reserved.</p>
            </div>
    </footer>
</body>
</html>